*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
main{
    width: 100%;
    height: 100%;
}
h1{
    color: white;
    text-align: center;
    padding-top: 20%;
    font-size: 50px;}

button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    
}
