*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 450px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    transition: all 0.3s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    p{
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
        color: #414141;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        span{
            font-weight: bold;
            color: rgb(95, 152, 199);
        };
    }
}
.outer{
    width: 100%;
    height: 20px;
    background: #414141;
    border-radius: 10px;
}
.inner{
    width: 0%;
    height: 100%;
    background: #59c097;
    border-radius: 10px;
}
.bottom{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        font-size: 70px;
        font-weight: 600;
        color: #414141;
        font-family: monospace;
    }
    button{
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 600;
        color: white;
        background-color: #51c596;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            background-color: #26b77d;
        }
        &:active{
            transform: scale(0.95);
            background-color: #0d774d;
        }
    }
}